<div class="topnav">
  <nav class="navbar navbar-default navbar-toggleable-md bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="routing.home"><div class="navbar-brand my-1">&nbsp;</div></a>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsingNavbar">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" [routerLink]="routing.home" translate>nav.home</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <a href="javascript:" class="btn"  id="componentDropdown" ngbDropdownToggle >Components</a>
            <div class="dropdown-menu" [class.dropdown-menu-right]="isCollapsed" aria-labelledby="componentDropdown" ngbDropdownMenu="">
              <button class="dropdown-item" [routerLink]="routing.tickTock">tick-tock</button>
              <button class="dropdown-item" [routerLink]="routing.dataRangePicker">data-range-picker</button>
            </div>
          </div>
        </li>
      </ul>

      <div ngbDropdown class="d-inline-block">
        <a href="javascript:" class="btn" id="userDropdown" ngbDropdownToggle>
          <span class="fa fa-language"></span>
          Language
        </a>
        <div class="dropdown-menu" [class.dropdown-menu-right]="isCollapsed" aria-labelledby="userDropdown" ngbDropdownMenu="">
          <button class="dropdown-item" (click)="switchLanguage('de')">German</button>
          <button class="dropdown-item" (click)="switchLanguage('en')">English</button>
        </div>

        <!--<div class="form-group row">
          <label class="col-sm-5 col-form-label" translate>settings.language</label>
          <div class="col-sm-7">
            <select>
              <option value="null" translate>settings.browserDefault</option>
              <option *ngFor="let l of languages" value="{{l.id}}">{{l.name}}</option>
            </select>
          </div>
        </div>-->
      </div>
    </div>
  </nav>
  <hr class="my-0">
</div>
