.topnav .navbar .nav-link {
  color: #000000;
}
.topnav .navbar .nav-link:hover {
  color: #005691;
}
.topnav .navbar .nav-item.active .nav-link {
  color: #005691;
}
.topnav .collapse.show .nav-item {
  align-items: flex-start;
  justify-content: flex-start;
}
.topnav .collapse.show .navbar-nav .nav-item {
  flex-direction: column;
}

.topnav .collapse.show .nav-item.active {
  border-bottom: none;
}
.topnav .collapse.show .nav-link {
  padding-left: 0;
}

.blink {
  animation-duration: 1s;
  animation-name: blink-text;
  animation-iteration-count: infinite;
}

@keyframes blink-text {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
