<div class="container-fluid">
  <div class="card">
    <h6 class="card-header">
      <ng-container>Welcome to the bosch-ui-angular-component demo</ng-container>
    </h6>
    <div class="card-block">
      <p>
        We have currently the following components libraries:
      </p>
      <ul>
        <li><a class="nav-link" [routerLink]="routing.dataRangePicker">data-time-range-picker</a></li>
        <li><a class="nav-link" [routerLink]="routing.tickTock">angular-seed-lib tick-tock</a></li>
      </ul>

    </div>
  </div>

</div>

