$header-logo: url('/assets/img/bosch_logo_150.png');
$header-bar-background: url('/assets/img/header.png');
$fa-font-path: '~font-awesome/fonts';
$bosch-font-path: '~bosch-bootstrap/src/fonts';
$bosch-image-path: '~bosch-bootstrap/src/img';
